/* rich */

.signup .signup-wrapper {
    padding: 4rem 0 4rem 0 !important;
    line-height: 1.6em;
    max-width: 81.33333rem !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgb(254, 254, 255);
    background: radial-gradient(circle, rgba(254, 254, 255, 1) 0%, rgb(217, 217, 217) 100%);
}

.signup-wrapper article {
    background: transparent !important;
}

.signup-wrapper form {
    background: transparent !important;
    padding: 0 4rem;
}

.signup-wrapper form .row {
    background: transparent !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.signup-wrapper form .row label {
    width: 100%;
    max-width: 40%;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.signup-wrapper form .row label h2 {
    margin: 0 1rem 0 0;
    width: 12%;
    display: inline-block;
}

/* .signup-wrapper form .row label .field-type:invalid {
	border: 1px solid #7c27b0;
} */

.signup-wrapper form .row label .field-type {
    padding: 1rem 1.5rem;
    width: 82%;
    border: 1px solid #7c27b0;
}

.field-wrongMessage {
    width: 100%;
    font-size: 12px;
}

/* button style */
.signup-wrapper .buttonContainer {
    width: 100%;
    margin: 0;
}

.signup-wrapper .btn {
    cursor: pointer;
    border-radius: 8px;
    max-width: 40%;
    margin: 0 auto;
    width: 100%;
    min-width: 280px;
}

.signup-wrapper .btn--enable {
    background-color: #7c27b0;
    transition: all 0.2s;
    width: 100%;
}

.signup-wrapper .btn--enable:hover {
    background-color: #470073;
}

.signup-wrapper .btn span {
    display: block;
    font-size: 20px;
}


.erroMsg {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #9e2a2b;
    font-weight: normal;
    height: 24px;
}