$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin rwd($min-width: null, $max-width: null) {
    @if ($min-width) and ($max-width) {
        @media (min-width: $min-width) and (max-width: ($max-width - 1px)) {
            @content;
        }
    }

    @else if ($min-width) and (not $max-width) {
        @media (min-width: $min-width) {
            @content;
        }
    }

    @else if (not $min-width) and ($max-width) {
        @media (max-width: ($max-width - 1px)) {
            @content;
        }
    }
}