/* rich */

.signup .signup-wrapper {
    padding: 0;
    line-height: 1.6em;
    max-width: 81.33333rem !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    background: radial-gradient(circle, rgba(254, 254, 255, 1) 0%, rgb(217, 217, 217) 100%);
}

.signup-wrapper article {
    background: transparent !important;
}

.signup-wrapper form {
    background: transparent !important;
    padding: 0 4rem;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
}

@media screen and (max-width: 960px){
.signup-wrapper form {
    background: transparent !important;
    padding: 0 2rem;
}
}

@media screen and (max-width: 480px){
.signup-wrapper form {
    background: transparent !important;
    padding: 0rem;
}
}



.signup-wrapper form .row {
    background: transparent !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    justify-content: flex-start;
    align-items:flex-start;
    row-gap:1.5rem;
    /* border: 1px solid #000; */
}

.signup-wrapper form .row label {
    width: 100%;
    max-width: 48%;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0;
}
@media screen and (max-width: 960px){
    .signup-wrapper form .row label {
        max-width: 100%;
    }
}
.signup-wrapper form .row label h2 {
    padding: 0 1rem 0 0;
    width: 26%;
    display: inline-block;
    white-space: nowrap;
    text-align: right;
}

@media screen and (max-width: 960px){
    .signup-wrapper form .row label h2{
        width:15%;
        font-size: 1.26rem;
        line-height: 1.8rem;
        white-space:normal;
    }
}

@media screen and (max-width: 480px){
    .signup-wrapper form .row label h2{
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.6rem;
        white-space:normal;
        text-align: left;
    }
}



.signup-wrapper form .row label .field-type {
    padding: 1rem 1.5rem;
    width: 74%;
    border: 1px solid #7c27b0;
}

@media screen and (max-width: 960px){
    .signup-wrapper form .row label .field-type{
        padding:1rem;
        width: 85%;
        font-size:1.333rem;
        border: 1px solid #7c27b0;
        border-radius:4px;
    }
}
@media screen and (max-width: 480px){
    .signup-wrapper form .row label .field-type{
        padding:1rem;
        width: 100%;
        font-size:1.2rem;
        border: 1px solid #7c27b0;
        border-radius:4px;
    }
}


.field-wrongMessage {
    width: 100%;
    font-size: 12px;
}

/* button style */
.signup-wrapper .buttonContainer {
    width: 100%;
    margin: 0;
}

.signup-wrapper .btn {
    cursor: pointer;
    border-radius: 4px;
    max-width: 40%;
    margin: 0 auto;
    width: 100%;
    min-width: 280px;
}

.signup-wrapper .btn--enable {
    background-color: #7c27b0;
    transition: all 0.2s;
    width: 100%;
}

.signup-wrapper .btn--enable:hover {
    background-color: #470073;
}

.signup-wrapper .btn span {
    display: block;
    font-size: 20px;
}


.erroMsg {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #9e2a2b;
    font-weight: normal;
    height: 24px;
}

.signup-wrapper form .row .field{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0;
    row-gap:1rem;
    position: relative;
}


@media screen and (max-width: 960px){
    .signup-wrapper form .row div.field{
        width: 100%;
    }   
}
@media screen and (max-width: 480px){
    .signup-wrapper form .row div.field{
        flex-wrap:wrap;
        margin-bottom:0;
        justify-content: start;
    }   
}

.signup-wrapper form .row .field label.required{
    font-size: 16px;
    padding:0 .5rem 0 0;
    width:auto;
    min-width:auto;
    text-align: left;
    white-space:nowrap;
}

@media screen and (max-width: 960px){
    .signup-wrapper form .row .field label.required{
        width:15%;
        font-size: 1.26rem;
        line-height: 1.8rem;
        white-space:normal;
        justify-content: start;
    }
}

@media screen and (max-width: 480px){
    .signup-wrapper form .row .field label.required{
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.6rem;
        white-space:normal;
        text-align: left;
        justify-content: start;
    }
}




.signup-wrapper form .row .appDateTime-row{
    display: flex;
    max-width: 48%;
    min-width: 280px;
    flex-wrap:nowrap;    
}

@media screen and (max-width: 960px){
    .signup-wrapper form .row .appDateTime-row{
        max-width: 100%;
    }
}

@media screen and (max-width: 480px){
    .signup-wrapper form .row .appDateTime-row{
        max-width: 100%;
    }
}

.signup-wrapper form .row .appDateTime-row .pi{
    font-size: 2rem;
    padding:.5rem;
}

.signup-wrapper form .row .field .appDatetimePicker{
    padding: 1rem 1.5rem;
    width: 82%;
    border: 1px solid #7c27b0;
    font-size: 1.33333rem;
    border-radius: 0.33333rem;
    line-height: 2rem;    
}
@media screen and (max-width: 480px){
    .signup-wrapper form .row .field .appDatetimePicker{
        width: 100%;  
    }
}



.signup-wrapper form .field.btn-row{
    /* border: 1px solid #000; */
    width: 100%;
    padding:2rem 0 0 0;
    margin:0 0 .5rem 0;
}

.signup-wrapper form .field.btn-row button{
    margin:.5rem;
    padding:1rem 2.5rem;    
    font-size: 18px;
}
.signup-wrapper form .field.btn-row button .p-button-label{
    font-size: 18px;
}

.ng-star-inserted{
    font-size: 1.333rem;
    padding:1rem 0;
}


::ng-deep .p-datatable-wrapper .p-datatable-table{
    overflow: hidden;
    border-radius: 8px;
}

    ::ng-deep #pr_id_4 .p-datatable-tbody tr .num{
        background-color: #7c27b0;
        border-top: 1px solid #7c27b0;
        color:#fff;
    }

@media screen and (max-width: 960px){
    ::ng-deep #pr_id_4 .p-datatable-tbody tr{
        border-bottom: 1px;
    }

    ::ng-deep #pr_id_4 .p-datatable-tbody tr td{
        padding:1rem 2rem;
        border-top:1px solid #e0e0e0 !important;
    }

    ::ng-deep #pr_id_4 .p-datatable-tbody tr .num{
        background-color: #7c27b0;
        border-top: 0 none;
        color:#fff;
    }

    ::ng-deep .layout-pagination select{
        margin:1rem 0 0 0;
    }

}


@media screen and (max-width: 480px){
    .date-picker-calendar{
        position: absolute;
        top:2.2rem;
        margin-top:0%;
        right:.2rem;
    }
}

@media screen and (max-width: 480px){
    .field-type {
    margin-top: 0;
    }
}

