<div id="root" class="signup">
  <app-header></app-header>
  <main class="signup-wrapper">
    <article class="signup-wrapper">
      <div class="container">


<div class="field col-4 col-rw registration">
  <label for="isEntered" class="required">是否報到</label>
  <select id="isEntered" name="isEntered" [(ngModel)]="qvo.isEntered" 
  #isEntered="ngModel" (change)="execQuery()">
    <option selected value="all">全部</option>
    <option  value="Y">已報到</option>
    <option  value="N">未報到</option>
  </select>
</div>
        

      <!-- BUTTON ROW -->
      <div class="field right">
        <button type="button" pButton pRipple label="新增" icon="pi pi-plus" class="k-btn" (click)="add();">
        </button>
        <button type="button" pButton pRipple label="刪除" icon="pi pi-trash" class="k-btn" (click)="delete();">
        </button>
      </div>

        <div class="ng-star-inserted">共 {{totalRecordCnt}} 筆</div>
        <br>
      <p-table [columns]="columnList" [value]="queryList" [lazy]="true" (onSort)="sort($event)" [customSort]="true"
        [loading]="isQuerying" [rowHover]="true" styleClass="p-datatable-sm p-datatable-striped"
        [resizableColumns]="true" #table>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="action-1 center">
            </th>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="column.sort" [pSortableColumn]="column.sort" [class]="column.class" [ngStyle]="column.style">
                <span>{{ column.name }}</span>
                <p-sortIcon [field]="column.sort"></p-sortIcon>
              </th>
              <th *ngIf="!column.sort" [class]="column.class" [ngStyle]="column.style">
                <span>{{ column.name }}</span>
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-x let-columns="columns">
          <tr class="center">
            <td class="center">
              <input type="checkbox" [(ngModel)]="x.checked" />
            </td>
            <td *ngFor="let column of columns">
              <span class="p-column-title">{{ column.name }}</span>
              <span *ngIf="column.dataKey==='rowNum'">{{ x.rowNum }}</span>
              <span *ngIf="column.dataKey==='keyQuestionValue'">{{ x.id[column.dataKey] }}</span>
              <span *ngIf="column.dataKey==='isEntered'">{{ x[column.dataKey]=='Y'? '已報到':'未報到' }}</span>
              <span *ngIf="column.dataKey === 'updateDate'">{{ x[column.dataKey] | date: column.formatString }}</span>
            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns >
          <tr *ngIf="queryList.length==0">
            <td class="center" [attr.colspan]="columns.length + 1">查無資料</td>
          </tr>
        </ng-template>
      </p-table>

      <app-pagination [totalRecordCnt]="totalRecordCnt" [pageSize]="pageSize" [curPageNum]="curPageNum"
        (changePage)="changePage($event);">
      </app-pagination>




      <!--新增問券-->
      <ng-template #question>
        <div class="modal top20">
          <div class="modal-content">
            <a (click)="closeQuestion();" class="modal-close" title="Close Modal">X</a>
            <h3>{{this.activityName}}</h3>
            <div class="modal-area">
              <form class="top20" (ngSubmit)="saveActivity();" name="qform" #qform="ngForm" autocomplete="off">
                <div class="row">
                  <!-- 主要問題KEY (用來報到用)-->
                  <label for="keyQuestionValue" class="field-label">
                    <h2 class="content-h6"><span class="form-required">*</span>{{this.keyQuestion}}</h2>
                    <input type="text" id="keyQuestionValue" class="field-type content-h5" name="keyQuestionValue"
                      [pattern]="masterExt.pattern" #keyQuestionValue="ngModel" [(ngModel)]="masterExt.keyQuestionValue"
                      required>

                    <span class="field-wrongMessage" *ngIf=" qform.submitted && keyQuestionValue.errors?.required">
                      <ng-container>* 請填寫必填欄位!</ng-container>
                    </span><br>
                    <span class="other-err" *ngIf=" qform.submitted && (keyQuestionValue.errors?.pattern!=null)">
                      <ng-container>* 欄位內容格式有誤，請確認! </ng-container>
                    </span>
                  </label>
                </div>
                <!-- 其他問題 -->
                <ng-container *ngFor="let detail of detailExts; let i=index">
                  <div class="row">
                    <label for="{{detail.questionName}}" class="field-label">
                      <h2 class="content-h6"><span class="form-required"
                          *ngIf="detail.isRequired=='Y'">*</span>{{detail.questionChName}}</h2>
                      <input type="text" [id]="detail.questionName" class="field-type content-h5"
                        [name]="detail.questionName" #questionNameValue="ngModel" [(ngModel)]="detail.questionNameValue"
                        [pattern]="detail.pattern" [required]="detail.isRequired=='Y'">
                      <span class="field-wrongMessage"
                        *ngIf=" qform.submitted && detail.isRequired=='Y' && questionNameValue.errors?.required ">
                        <ng-container>* 請填寫必填欄位!</ng-container>
                      </span>
                      <span class="field-wrongMessage" *ngIf=" qform.submitted && questionNameValue.errors">
                        <ng-container>* 欄位內容格式有誤，請確認! </ng-container>
                      </span>
                    </label>
                  </div>
                </ng-container>
                <div class="buttonContainer">
                </div>
                <br>
                <!-- 送出表單 -->
                <button type="submit" class="btn btn--enable">送出表單</button>
              </form>
            </div>
          </div>
        </div>
      </ng-template>


</div>
</article>
</main>
</div>